<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<!-- CONTENT START -->
<div class="content">
  <!-- SIDEBAR START -->
  <div class="sidebar">
    <ul>
      <li [routerLink]="'dashboard'">
        <span>Dashboard</span>
      </li>
      <li [routerLink]="'profile'">
        <span>Profile</span>
      </li>
      <li [routerLink]="'setting'">
        <span>Setting</span>
      </li>
      <li [routerLink]="'post'">
        <span>Post</span>
      </li>
    </ul>
  </div>
  <!-- SIDEBAR END -->
  <div class="router-outlet">
    <!-- ROUTE START -->
    <router-outlet></router-outlet>
    <!-- ROUTE END -->
  </div>
</div>
<!-- CONTENT END -->

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
